
<ul class="list-inline text-center">
  <% ["Filipe", "Laure", "Roger"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle", width: "75px" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>


